body {
    background-image: url(img/bg-desktop.jpg);
    background-color: #7B9C03;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

canvas {
    border-radius: 10px;

    margin: auto 18%;
}

h1 {
    color: darkred;
    letter-spacing: 5px;
    font-size: 35px;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
}